<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

    <html xmlns="http://www.w3.org/1999/xhtml" xml:lang="de" lang="de">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf8" />
        <link rel="stylesheet" type="text/css" href="/css/standard.css" media="screen, projection" />
        <link rel="stylesheet" type="text/css" href="/css/custom.css" media="screen, projection" />
        <!--[if lt IE 7]>
        <link rel="stylesheet" type="text/css" href="/css/standardIE6.css" media="screen, projection" />
        <![endif]-->
        <!--[if IE 7]>
        <link rel="stylesheet" type="text/css" href="/css/standardIE7.css" media="screen, projection" />
        <![endif]-->
        <!--[if IE 8]>
        <link rel="stylesheet" type="text/css" href="/css/standardIE8.css" media="screen, projection" />
        <![endif]-->
        <link rel="stylesheet" type="text/css" href="/css/print.css" media="print" />

        <meta http-equiv="language" content="de" />
        <meta http-equiv="content-type" content="text/html; charset=utf8" />
        <meta name="keywords" content="Internet, Gesellschaft, Beteiligung, Partizipation" />
        <meta name="description" content="Adhocracy-Instanz der Enquete-Kommission Internet und digitale Gesellschaft des 17. Deutschen Bundestages" />
        <meta name="date" content="21.02.2011" />
        <meta name="adwords" content="Internet, Enquete, Enquete-Kommission, digitale, Gesellschaft, Partizipation, Adhocracy" />
        <meta name="author" content="Deutscher Bundestag" /> 
        <meta name="publisher" content="Deutscher Bundestag" />  
        <meta name="copyright" content="Deutscher Bundestag" /> 
        <meta name="revisit" content="7" /> 
        <meta name="audience" content="all" />
        <meta name="robots" content="index,follow" /> 
        <meta name="politikfeld" content="Internetenquete" />
        <meta name="SmartView_Page" content="1" />
        <meta name="WT.ti" content="Enquete-Kommission Internet und digitale Gesellschaft" />
        <link rel="shortcut icon" href="/static/img/favicon.ico" />
        <link rel="search" type="text/html" href="http://www.bundestag.de/dokumente/suche/index.html" title="Suche" />
        <link rel="contents" type="text/html" href="http://www.bundestag.de/btg_wahl/sitemap/index.html" title="&uuml;bersicht" />
        <link rel="copyright" type="text/html" href="http://www.bundestag.de/service/impressum/index.html" title="Impressum" />
        <link rel="alternate" type="application/rss+xml" href="http://www.bundestag.de/rss_feeds/internetenquete.rss" title="Meldungen der Enquete des Deutschen Bundestages Internet und digitale Gesellschaft" />

        <script type="text/javascript" src="http://www.bundestag.de/includes/js/lib/jsctrl.js"></script>
        <script type="text/javascript" src="http://www.bundestag.de/includes/js/lib/jquery_all.js"></script>
        <script type="text/javascript" src="http://www.bundestag.de/includes/js/lib/btjscomponents.js"></script>
        <script type="text/javascript" src="http://www.bundestag.de/includes/js/System.js"></script>
        <title>Deutscher Bundestag Enquete Internet und digitale Gesellschaft: Enquete-Kommission Internet und digitale Gesellschaft</title>

    </head>    
    <body>
        <a name="top"></a>
        <div id="wrap" class="enquete">
            <div class="hidden"><a href="index.html#inhalt">Direkt zum Inhalt springen</a></div>
            <div id="serviceLeiste">
                <div class="navigation">
                    <h1 class="hidden">Service-Navigation</h1>
                    <h2 class="hidden">Service-Links</h2>
                    <ul class="service">
                        <li class="first"><a href="http://www.bundestag.de/internetenquete/service/sitemap/index.html" title="Inhalts&uuml;bersicht">Inhalts&uuml;bersicht</a></li>
                    </ul>
                </div>
            </div><!-- #serviceLeiste -->
            <div id="bildLeiste">
                <div class="logo"><a href="http://www.bundestag.de/index.jsp" title="Startseite des Deutschen Bundestages"><img src="http://www.bundestag.de/includes/images/logo_bundestag.jpg" alt="Bildwortmarke: Deutscher Bundestag" /></a></div>
                <div class="banner"><img src="/img/logo_schriftzug.gif" alt="Enquete-Kommission Internet und digitale Gesellschaft" /></div>
            </div>
            <br class="clear" />
            <div id="hauptNavigation">
                <h1 class="hidden">Hauptnavigation &amp; Schnellsuche</h1>
                <ul class="navigation">
                    <li class="first"><div><a href="http://www.bundestag.de/internetenquete/index.jsp" class="ersteEbene" title="Startseite">Startseite</a></div>
                    </li>
                    <li><div><a href="http://www.bundestag.de/internetenquete/mitglieder/index.jsp" class="ersteEbene" title="Mitglieder">Mitglieder</a></div>
                    </li>
                    <li><div><a href="http://blog.internetenquete.de/" class="ersteEbene" title="Blog">Blog</a></div>
                    </li>
                    <li><div><a href="http://forum.bundestag.de" class="ersteEbene" title="Forum">Forum</a></div>
                    </li>
                    <li><div><a href="http://www.bundestag.de/internetenquete/mediathek/index.jsp" class="ersteEbene" title="Mediathek">Mediathek</a></div>
                    </li>
                    <li><div><a href="http://www.bundestag.de/internetenquete/dokumentation/index.jsp" class="ersteEbene" title="Dokumentation">Dokumentation</a></div>
                    </li>
                </ul>
                <div class="schnellsuche">
                    <form action="http://suche.bundestag.de/searchAction.do" method="post">
                        <input type="hidden" name="resultsPerPage" value="6" />
                        <input type="hidden" name="language" value="de" />
                        <label for="form_schnellsuche" class="hidden">Suche</label>
                        <input type="text" name="queryAll" id="form_schnellsuche" value="Suchwort eingeben" class="input" /><input type="image" name="suchesubmit" value="Suche abschicken" alt="Suche abschicken" src="http://www.bundestag.de/includes/images/schnellsuche_submit.gif" class="submit" />
                    </form>
                </div>
            </div> <!-- #hauptnavigation -->
            <br class="clear" />
            <div class="startTeaser">
                <div class="startTeaserBild">
                    <img src="/bilder/Sonstiges/Haende_gross.jpg" alt="Menschen strecken H&auml;nde in die Luft" /><br />
                    <div class="startTeaserBildunterschrift">&copy; picture alliance / moodboard</div>            
                </div>
                <div class="startTeaserText">
                    <h2>Sondersitzung zur B&uuml;rgerbeteiligung</h2>
                    <p>Die Enquete-Kommission Internet und digitale Gesellschaft ber&auml;t am Montag, den 21. Februar 2011, ab 14 Uhr in einer &ouml;ffentlichen Sitzung &uuml;ber die Entscheidung des &Auml;ltestenrats des Deutschen Bundestages zu dem Online-Beteiligungswerkzeug Adhocracy.</p>
                    <p class="mehr"><a href="http://www.bundestag.de/internetenquete/Sondersitzung_Buergerbeteiligung/index.jsp" target="_self" class="linkIntern" title="">mehr</a></p>
                </div>
            </div><!-- #startTeaser -->
                <br class="clear" />
                <div id="container">
                    <div id="inhaltsbereich">
                        <div id="breadcrumb"><p class="keinAbstand"><a href="http://internetenquete.de">Startseite</a> &gt; Adhocracy-Portal der Enquete-Kommission</p></div>

                        <div class="shareBox">
                            <div class="shareButtons"> &nbsp; </div>
                            <div class="shareBoxText">
                                <div class="bildLinks">
                                <img src="/bilder/Datenschutz/Peter_Schaar_teaser.jpg" alt="Peter Schaar" />
                                <div class="bildUnterschrift">&copy; picture-alliance/ dpa</div>
                            </div>
                            <p class="dachzeile">15. Februar 2011</p>
                            <h2>
                                <a href="http://www.bundestag.de/internetenquete/Peter_Schaar_in_der_Projektgruppe_Datenschutz/index.jsp">Peter Schaar in der Projektgruppe Datenschutz</a>
                            </h2>
                            <p>Die Projektgruppe Datenschutz hat f&uuml;r ihre n&auml;chste Sitzung am 21. Februar Peter Schaar zu einem Informationsgespr&auml;ch eingeladen. Schaar ist der Bundesbeauftragte f&uuml;r den Datenschutz und die Informationsfreiheit.</p>
                            <p class="mehr"><a href="http://www.bundestag.de/internetenquete/Peter_Schaar_in_der_Projektgruppe_Datenschutz/index.jsp" class="linkIntern">mehr</a></p>
                        </div><!-- .sharebox -->
                    </div><!-- #inhaltbereich -->
                    <br class="clear" />
                    <div class="shareBox">
                        <div class="shareButtons">&nbsp;</div>
                        <div class="shareBoxText">
                            <div class="bildLinks">
                                <img src="/img/Buero_Buecherwand_teaser.jpg" alt="B&uuml;ro mit gro&szlig;er B&uuml;cherwand" />
                                <div class="bildUnterschrift">&copy; picture alliance / moodboard</div>
                            </div>
                            <p class="dachzeile">11. Februar 2011</p>
                            <h2>
                                <a href="http://www.bundestag.de/internetenquete/Urheberrecht_Bericht_PG_Urheberrecht_2011-02-11_Tempo_im_Zeitplan_der_Projektgruppe_Urheberrecht/index.jsp">Tempo im Zeitplan der Projektgruppe Urheberrecht</a>
                            </h2>
                            <p>Die Projektgruppe hat sich in ihrer Sitzung am 11. Februar daf&uuml;r entschieden, f&uuml;r den dritten und abschlie&szlig;enden Teil ihres Arbeitsprogramms eine neue Arbeitsmethode auszuprobieren. Damit will die Projektgruppe ihr Arbeitstempo weiter erh&ouml;hen.</p>
                            <p class="mehr"><a href="http://www.bundestag.de/internetenquete/Urheberrecht_Bericht_PG_Urheberrecht_2011-02-11_Tempo_im_Zeitplan_der_Projektgruppe_Urheberrecht/index.jsp" class="linkIntern">mehr</a></p>
                        </div><!-- .shareboxText -->
                    </div><!-- #sharebox -->
                    <br class="clear" />
                </div><!-- #inhaltbereich -->

                <div id="context">
                    <h1 class="hidden">Weitere Informationen</h1>
                    <div class="contextBox">
                        <div class="contextBoxTitel"><h2>Termine der Enquete-Kommission</h2></div>
                        <div class="contextBoxInhalt">
                            <ul class="termineListe">
                                <li><a href="http://www.bundestag.de/internetenquete/termine/2011_02_21-Datenschutz.jsp"><strong>21. Februar 2011 | 10.00 Uhr</strong><br />Projektgruppensitzung Datenschutz</a></li>
                                <li><a href="http://www.bundestag.de/internetenquete/termine/2011_02_21_Enquete-Sitzung.jsp"><strong>21. Februar 2011 | 14:00 Uhr</strong><br />9. Sitzung der Enquete-Kommission</a></li>
                                <li><a href="http://www.bundestag.de/internetenquete/termine/2011_02_21-Netzneutralitaet.jsp"><strong>21. Februar 2011 | ca. 16:00 Uhr</strong><br />Projektgruppensitzung Netzneutralit&auml;t</a></li>
                                <li><a href="http://www.bundestag.de/internetenquete/termine/2011_02_25-PG_Urheberrecht.jsp"><strong>25. Februar 2011 | 12.00 Uhr</strong><br />Projektgruppensitzung Urheberrecht</a></li>
                                <li><a href="http://www.bundestag.de/internetenquete/termine/2011_02_28-Netzneutralitaet.jsp"><strong>28. Februar 2011 | 13.00 Uhr</strong><br />Projektgruppensitzung Netzneutralit&auml;t</a></li>
                            </ul>
                        </div><!-- #contextBoxInhalt -->
                        <div class="linkButton"><a href="http://www.bundestag.de/internetenquete/termine/index.jsp" title="Termine">Alle Termine</a></div>
                    </div><!-- #contextBox -->
                    <div class="contextBox">
                        <div class="contextBoxTitel"><h2>Kontakt</h2></div>
                        <div class="contextBoxInhalt">
                            <p><strong>Deutscher Bundestag</strong><br />Sekretariat der<br />Enquete-Kommission<br />Internet und digitale Gesellschaft</p>
                            <p>Platz der Republik 1<br />
                            11011 Berlin</p>
                            <p>Telefon: +49 (0)30 227 37731<br />
                            Telefax: &nbsp;+49 (0)30 227 36733</p>
                            <p><a href="mailto:enquete.internet@bundestag.de">enquete.internet@bundestag.de</a><br />Verantwortlich: MR Norbert Linn</p>
                        </div>
                    </div>
                </div><!-- #context -->
                <br class="clear" />
                <div id="footerLinks">
                    <div class="content">
                        <div class="links">
                            <ul>
                                <li><a href="http://www.bundestag.de/service/impressum/index.html" title="Impressum">Impressum</a> |</li>
                                <li><a href="http://www.bundestag.de/service/datenschutzhinweise.html" title="Datenschutzhinweise">Datenschutz</a></li>
                            </ul>
                        </div>
                        <div class="rechts"><a href="index.html#top" class="seitenanfang">Seitenanfang</a></div>
                        <br class="clear" />
                        <div class="linie">&nbsp;</div>
                        <div class="service">
                            <ul>
                                <li><a href="javascript:void(0)" class="drucken_bilder none">Drucken mit Bildern</a></li>
                                <li><a href="javascript:void(0)" class="drucken none">Drucken ohne Bilder</a></li>
                            </ul>
                        </div>
                    </div><!-- .content -->
                </div><!-- #footerLinks -->
        </div>
        <br class="clear" />
        <div id="footerDiv">
            <div class="content">
                <div>&copy; 2010 Deutscher Bundestag</div>
            </div>
            <div class="zierRechts">&nbsp;</div>
        </div>
    </div>
</body>
</html>
